.header-background {
  background-image: url('../assets/clinic-banner.png');
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 50px; 
}

.header-content {
  display: flex;
  align-items: center;
  background-color: rgba(248, 244, 244, 0.936);
  padding: 15px 25px;
  border-radius: 10px;
  max-width: 80%;
  gap: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: -35px; 
}


.header-logo {
  max-height: 90px;
  width: auto;
}

.header-text {
  text-align: left;

}

.clinic-name {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  color: #000;
}

.doctor-names {
  font-size: 16px;
  margin-top: 5px;
  color: #333;
}

.doctor-names {
  font-size: 16px;
  margin-top: 5px;
  color: #333;
  font-weight: bold; 
}

